<ion-header>

  <ion-navbar>

  </ion-navbar>

  <ion-toolbar no-border-top>

    <ion-grid>
      <ion-row>
        <ion-col col-10><ion-searchbar></ion-searchbar></ion-col>
        <ion-col col-2>
          <ion-grid>
            <ion-row text-center style="color: white;">
              {{posts}}
            </ion-row>
            <ion-row text-center style="color: white;">
              Points
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-toolbar>

      <ion-segment [(ngModel)]="segmentoptions">
      <ion-segment-button value="foryou" style="background-color:orange;color: white;">
        For You
      </ion-segment-button>
      <ion-segment-button value="offers" style="background-color:orange;color: white;">
        Offers
      </ion-segment-button>
      <ion-segment-button value="giftcard" style="background-color:orange;color: white;">
        Gift Card
      </ion-segment-button>
      <ion-segment-button value="discover" style="background-color:orange;color: white;">
        Discover
      </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>



  <div [ngSwitch]="segmentoptions" >

    <!--<ion-slides *ngSwitchCase="'foryou'" >
      <ion-slide *ngFor="let card of cards"
                 style="width:750px;height:350px" >
        <ion-card>
          <img src = {{card.card_img}}
                 style="width:500px;height:250px" />
          <ion-card-content>
            <ion-card-title>
              {{card.company_name}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>-->
<!--
    <ion-list *ngSwitchCase="'foryou'">
      
        <ion-item *ngFor="let card of cards" >
          <img src = {{card.card_img}}
              style="width:500px;height:250px" />
          <p>{{card.company_name}}</p>
        </ion-item>

    </ion-list>-->



    <ion-list *ngSwitchCase="'foryou'">
      <ion-list-header>
        <h1>Hi there!</h1>
        <h1>Local spots for you today</h1>
      </ion-list-header>
      <ion-item>

        <ion-scroll scrollX="true" direction="x">
          <ion-card *ngFor="let card of cards" >

            <ion-card-content>
              <img src = {{card.card_img}}
              style="width:250px;height:125px" />
                <ion-card-title>
                  {{card.company_name}}
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-scroll>
        
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'offers'">
      <ion-item>
        <h2>Offers!</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'giftcard'">
      <ion-item>
        <h2>Gift Card!</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'discover'">
      <ion-item>
        <h2>Discover!</h2>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
